/* Wlogout Style - Catppuccin Mocha */

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    background-image: none;
    transition: 0.2s;
}

window {
    background-color: rgba(30, 30, 46, 0.9);
}

button {
    color: #cdd6f4;
    background-color: #313244;
    border-style: solid;
    border-width: 2px;
    border-color: #45475a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 16px;
    margin: 10px;
    padding: 20px;
}

button:focus, button:active, button:hover {
    background-color: #45475a;
    border-color: #cba6f7;
    color: #cba6f7;
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}
#lock:hover {
    background-image: image(url("/usr/share/wlogout/icons/lock-hover.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}
#logout:hover {
    background-image: image(url("/usr/share/wlogout/icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}
#suspend:hover {
    background-image: image(url("/usr/share/wlogout/icons/suspend-hover.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}
#hibernate:hover {
    background-image: image(url("/usr/share/wlogout/icons/hibernate-hover.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
#shutdown:hover {
    background-image: image(url("/usr/share/wlogout/icons/shutdown-hover.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
#reboot:hover {
    background-image: image(url("/usr/share/wlogout/icons/reboot-hover.png"));
}
